<!DOCTYPE html>
<!--[if lt IE 9 ]><html class="no-js oldie" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="no-js oldie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

<head>

    <!--- basic page needs http://blog.visme.co/website-color-schemes/
    ================================================== -->
    <meta charset="utf-8">
    <title>Welcome to CodeFeed</title>
    <meta name="description" content="">
    <meta name="author" content="CodeFeed">

    <!-- mobile specific metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="../static/css/base.css">
    <link rel="stylesheet" href="../static/css/vendor.css">
    <link rel="stylesheet" href="../static/css/main.css">

    <!-- script
    ================================================== -->
    <script src="../static/js/modernizr.js"></script>
    <script src="../static/js/pace.min.js"></script>

    <!-- favicons
    ================================================== -->
    <link rel="apple-touch-icon" sizes="57x57" href="../static/favicons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="../static/favicons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="../static/favicons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="../static/favicons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="../static/favicons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="../static/favicons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="../static/favicons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="../static/favicons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="../static/favicons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="../static/favicons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../static/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="../static/favicons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../static/favicons/favicon-16x16.png">
    <link rel="manifest" href="../static/favicons/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="../staticfavicons//ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
</head>

<body id="top">
    <!-- header
    ================================================== -->
    <header class="s-header">
        <nav class="header-nav">
            <a href="#0" class="header-nav__close" title="close"><span>Close</span></a>
            <div class="header-nav__content">
                <h3>Page Navigation</h3>
                <ul class="header-nav__list">
                    <li class="current"><a class="smoothscroll" href="#home" title="home">Home</a></li>
                    <li><a class="smoothscroll" href="#about" title="about">About</a></li>
                </ul>
            </div>
        </nav>
        <a class="header-menu-toggle" href="#0">
            <span class="header-menu-text">Menu</span>
            <span class="header-menu-icon"></span>
        </a>
    </header>
    <!-- end header -->

    <!-- home
    ================================================== -->
    <section id="home" class="s-home target-section" data-parallax="scroll" data-image-src="../static/images/hero-bg.png" data-natural-width="3000" data-natural-height="2000" data-position-y="center">
        <div class="overlay"></div>
        <div class="shadow-overlay"></div>
        <div class="home-content">
            <div class="row home-content__main">
                <h3>Welcome to CodeFeed</h3>

                <h1>A social media platform
                    <br>
                    designed by programmers,
                    <br>
                    for programmers. 
                </h1>

                <div class="home-content__buttons">
                    <a href="/register" class="btn btn--stroke">Create Account
                    </a>
                    <a href="/login" class="btn btn--stroke">Login
                    </a>
                </div>

            </div>
        </div>
        <!-- end home-content -->
    </section>
    <!-- end s-home -->


    <!-- about
    ================================================== -->
    <section id='about' class="s-about">
        <div class="row section-header has-bottom-sep" data-aos="fade-up">
            <div class="col-full">
                <h3 class="subhead subhead--dark">Hello, World!</h3>
                <h1 class="display-1 display-1--light">This is CodeFeed</h1>
            </div>
        </div>
        <!-- end section-header -->

        <div class="row about-desc" data-aos="fade-up">
            <div class="col-full">
                <p>
                    CodeFeed is the future of consumer-driven social media applications specifically for those interested in software development. CodeFeed allows for seamless sharing of new ideas, comments, and queries across all areas of concentration and all skill levels. Whether you are an experienced developer or just a hobbyist, there will surely be a time when you are in need of assistance or wish to share your work.
                </p>
                <p>
                    Don't just take our word for it! See what others are doing with CodeFeed:
                </p>
            </div>
        </div>
        <!-- end about-desc -->

        <div class="row about-stats stats block-1-4 block-m-1-2 block-mob-full" data-aos="fade-up">
            <div class="col-block stats__col ">
                <div class="stats__count">{{ num_users }}</div>
                <h5>Registered Users</h5>
            </div>
            <div class="col-block stats__col">
                <div class="stats__count">{{ num_groups }}</div>
                <h5>Current Groups</h5>
            </div>
            <div class="col-block stats__col">
                <div class="stats__count">{{ num_posts }}</div>
                <h5>Posts Made</h5>
            </div>
            <div class="col-block stats__col">
                <div class="stats__count">{{ num_up_votes }}</div>
                <h5>Happy Programmers</h5>
            </div>

        </div>
        <!-- end about-stats -->
    </section>
    <!-- end s-about -->

    <!-- footer
    ================================================== -->
    <footer>
        <div class="row footer-bottom">
            <div class="col-twelve">
                <div class="copyright">
                    <span>© Copyright CodeFeed 2018</span>
                </div>
                <div class="go-top">
                    <a class="smoothscroll" title="Back to Top" href="#top"><i class="icon-arrow-up" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
    </footer>
    <!-- end footer -->

    <!-- preloader
    ================================================== -->
    <div id="preloader">
        <div id="loader">
            <div class="line-scale-pulse-out">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </div>


    <!-- JavaScript
    ================================================== -->
    <script src="../static/js/jquery-3.2.1.min.js"></script>
    <script src="../static/js/plugins.js"></script>
    <script src="../static/js/main.js"></script>

</body>

</html>
