<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Login - CodeFeed</title>
        <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Lato">
        <link rel="stylesheet" href="../static/css/main.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="../static/css/login.css">
    </head>
    <body style="background: #116466;">
        <div class="container h-100">
            <div class="row justify-content-center align-items-center h-100">
                <div class="col-md-6 col-sm-2">
                    <div class="card">
                        <div class="card-header">
                            <h1 class="card-title text-muted">Please enter your login info below:</h1>
                        </div>
                        <div class="card-body">
                            <form action="" method="post">
                                <div class="form-group">
                                    <label>Username</label>
                                    <input class="form-control" type="text" name="username" required>
                                </div>
                                <div class="form-group">
                                    <label>Password</label>
                                    <input class="form-control" type="password" name="pass" required>
                                </div>
                                <br><br><br>
                                <input type="submit" class="smoothscroll btn full-width btn--stroke" name="login" value="Login">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
