<!DOCTYPE html>
<html lang="en">
<head>

    <!--- basic page needs
    ================================================== -->
    <meta charset="utf-8">
    <title>Comments in {{ post_name }}</title>
    <meta name="description" content="">
    <meta name="author" content="CodeFeed">

    <!-- mobile specific metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap_override.css">

    <!-- scripts
    ================================================== -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>

    <!-- favicons
    ================================================== -->
    <link rel="apple-touch-icon" sizes="57x57" href="../static/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="../static/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="../static/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="../static/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="../static/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="../static/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="../static/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="../static/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="../static/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="../static/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../static/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="../static/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../static/favicon-16x16.png">
    <link rel="manifest" href="../static/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="../static/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <body class="bootstrap_override dark-bg">
        <!-- Navbar
        ================================================== -->
        <nav class="navbar navbar-expand-md fixed-top light-bg navbar-dark">
            <span class="navbar-brand"><span class="secondary-text"><></span><span class="light-text"> CodeFeed </span><span class="secondary-text">();</span></span>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav ml-auto mb-2">
                    <li class="nav-item">
                        <a class="nav-link nav-bar-link" href="profile.html"><i class="fas fa-user"></i> My Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-bar-link" href="messages.html"><i class="fas fa-envelope"></i> Messages</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-bar-link" href="categories.html"><i class="fas fa-object-ungroup"></i> Categories</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-bar-link" href="logout"><i class="fas fa-sign-out-alt"></i> Logout</a>
                    </li> 
                </ul>
            </div> 
        </nav>

        <div class="container">
            <div class="text-left my-3">
                <h2 class="primary-text">Comment list for {{ post_name }} </h2>
            </div>
            <div class="jumbotron light-bg">
                <table id="tblComments" class="table table-striped table-bordered" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>Commentor</th>
                            <th>Date Created</th>
                            <th>Body</th> 
                            <th>Vote Count</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for comment in post %}
                            <tr>
                                <td>{{ comment.commentor_name }}</td>
                                <td>{{ comment.date_created }}</td>
                                <td>{{ comment.body }}</td>
                                <td>{{ comment.comment_vote }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <!-- JavaScript
        ================================================== -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
        <script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    
        <script type="text/javascript">
            $("#tblComments").DataTable ({
                scrollY:        '50vh',
                scrollCollapse: true,
                paging: false
            });
        </script>
    </body>